.bg-logo
  position fixed
  bottom 80px
  right 30px
  width 400px
  height 255px
  fill #ddd
  z-index -1
  transition transform .4s

.nav-open
  .bg-logo
    transform translateX(-350px)
    z-index 10000
