.footer
  position fixed
  bottom 0
  width 100%
  padding 0 20px
  background url(/img/bg_2.png) repeat
  box-shadow 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align right
  height 40px
  line-height 40px
  z-index 2

  &__message
    display inline-block
    margin 0
    padding 0
    color #aaa
    font-size .7rem

    span
      vertical-align middle

.nav-open
  .footer
    background none

