@font-face {
  font-family: "icon";
  src: url( "/fonts/icon.eot" );
  src: url( "/fonts/icon.eot?#iefix" ) format( "eot" ),
       url( "/fonts/icon.woff" ) format( "woff" ),
       url( "/fonts/icon.ttf" ) format( "truetype" ),
       url( "/fonts/icon.svg#icon" ) format( "svg" );
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before { content: "\EA01" }
.icon-excel:before { content: "\EA02" }
.icon-excel_upload:before { content: "\EA03" }
.icon-menu:before { content: "\EA04" }
.icon-pencil:before { content: "\EA05" }
.icon-plus:before { content: "\EA06" }
.icon-trash:before { content: "\EA07" }
.icon-upload:before { content: "\EA08" }
.icon-user:before { content: "\EA09" }