.search-box
  position relative
  padding 15px
  background #fefefe
  border 1px solid #aaa

  .row
    margin-bottom 0

  .btn-floating
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -18.5px;

  .noUi-horizontal
    position absolute
    width 90%
    top 3rem

  .col
    position relative

  .rate-container
    padding 5px 0

  .search-text
    padding 8px 0

  .modal
    &__title
      margin-bottom 30px


