/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$cog_name = 'cog';
$cog_x = 0px;
$cog_y = 0px;
$cog_offset_x = 0px;
$cog_offset_y = 0px;
$cog_width = 100px;
$cog_height = 100px;
$cog_total_width = 200px;
$cog_total_height = 200px;
$cog_image = '/img/sprite.png';
$cog = 0px 0px 0px 0px 100px 100px 200px 200px '/img/sprite.png' 'cog';
$leaf_name = 'leaf';
$leaf_x = 100px;
$leaf_y = 0px;
$leaf_offset_x = -100px;
$leaf_offset_y = 0px;
$leaf_width = 100px;
$leaf_height = 100px;
$leaf_total_width = 200px;
$leaf_total_height = 200px;
$leaf_image = '/img/sprite.png';
$leaf = 100px 0px -100px 0px 100px 100px 200px 200px '/img/sprite.png' 'leaf';
$trash_name = 'trash';
$trash_x = 0px;
$trash_y = 100px;
$trash_offset_x = 0px;
$trash_offset_y = -100px;
$trash_width = 100px;
$trash_height = 100px;
$trash_total_width = 200px;
$trash_total_height = 200px;
$trash_image = '/img/sprite.png';
$trash = 0px 100px 0px -100px 100px 100px 200px 200px '/img/sprite.png' 'trash';
$spritesheet_width = 200px;
$spritesheet_height = 200px;
$spritesheet_image = '/img/sprite.png';
$spritesheet_sprites = $cog $leaf $trash;
$spritesheet = 200px 200px '/img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
