<div class="bg">
  <svg class="bg-logo"><use xlink:href="#svg-logo_2"></use></svg>
</div>

<div class="bg-build js-bg-build"></div>
<!-- <div class="complete-message card-panel teal lighten-2 center-align js-complete-message">
  <span class="white-text"></span>
</div>
<div class="complete-message card-panel red lighten-2 center-align js-error-message">
  <span class="white-text"></span>
</div>
 -->